<p>zip-fork-join works!</p>
<p>combine-latest works!</p>
<div class="row">
 <div class="combinelatest row mb-3">
   
    <div class="col-md-2">
      
        <h4>Names</h4> 
         <hr>
        <select class="form-control" name="names" id="" #name>
            <option *ngFor="let item of names" value={{item}}>{{item}}</option>
        </select>
    </div>
    <div class="col-md-8">
        <h4>Zip</h4> 
        <hr>
        <div class="row" id="elContainer"></div>
    </div>
 </div>
 <div class="withlatest row">
    <div class="col-md-2" >
        <h4>Colors</h4> 
        <hr>
        <select class="form-control" name="colors" id="" #color>
            <option *ngFor="let item of colors" value={{item}}>{{item}}</option>
        </select>
    </div>
    <div class="col-md-8">
        <h4>Fork Join</h4> 
        <hr>
        <div class="row" id="elContainer2"></div>
 </div>
</div>