<p>switch-map works!</p>
<div class="row justify-content-center" >
   
    <div class="col-md-4">
    Array : ["Tech", "Travel" ,"Horror"]
    </div> 
    

</div>

<div class="row my-3">
 <div class="col-md-4">
     <p class="bg-gray">Subscribe manyally(Map) </p>
     <ul id="ul1"> 
     </ul>
 </div>
 <div class="col-md-4">
     <p class="bg-gray">Map + Switch All </p>
     <ul id="ul2">
       
         
         
     </ul>
    
 </div>
 <div class="col-md-4 ">
     <p class="bg-gray">Switch Map </p>
     <ul id="ul3">
    
       
     </ul>
     
 </div>
</div>

<div class="row my-3">
    <div class="col-md-4">
        <p class="bg-gray">Merge Map </p>
        <ul id="ul4"> 
        </ul>
    </div>
    <div class="col-md-4">
        <p class="bg-gray">Concat Map </p>
        <ul id="ul5">
          
            
            
        </ul>
       
    </div>
    <div class="col-md-4 ">
        <p class="bg-gray">Switch Map </p>
        <ul id="ul6">
       
          
        </ul>
        
    </div>
   </div>