
<h1>Take </h1>

<div class="row">
    <p class="bg-light py-2 my-2 border rounded"><b>The Data: </b>"red","green","blue","purple","orange","pink"</p>
    <div class="col-md-4">
        <p class="bg-light py-2 my-2 border rounded">Take <b>First 3  </b></p>

        <hr>
        <b>Ex:1</b>
       <ul id="ul-id">

       </ul>
    </div>
    <div class="col-md-4">
        <p class="bg-light py-2 my-2 border rounded">Take :<b>Last 5</b></p>
        <hr>
        <b>Ex:2</b>
        <ul id="ul-id-last"></ul>

        <hr>
        
    </div>
    <div class="col-md-4">
        <p class="bg-light py-2 my-2 border rounded">Take :<b>Until you click anywhere</b></p>
        <hr>
        <b>Ex:3</b>
        <ul id="ul-id-until"></ul>

        <hr>
        
    </div>
    
</div>
