<p>combine-latest works!</p>
<div class="row">
 <div class="combinelatest row mb-3">
    <div class="col-md-2">
        <select class="form-control" name="names" id="">
            <option *ngFor="let item of names" value={{item}}>{{item}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <div class="dabba">I m dabba
        </div>

    </div>
 </div>
 <div class="withlatest row">
    <div class="col-md-2">
        <select class="form-control" name="colors" id="">
            <option *ngFor="let item of colors" value={{item}}>{{item}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <div class="dabba">I m dabba
        </div>

 </div>
</div>