<p>merge-map works!</p>
<div class="row justify-content-center" >
   
    <div class="col-md-4">
    Array : ["Tech", "Travel" ,"Horror"]
    </div> 
    

</div>

<div class="row my-3">
 <div class="col-md-4">
     <p>Subscribe manyally </p>
     <ul id="ul1"> 
     </ul>
 </div>
 <div class="col-md-4">
     <p>Map + MergeAll </p>
     <ul id="ul2">
       
         
         
     </ul>
    
 </div>
 <div class="col-md-4">
     <p>Merge Map </p>
     <ul id="ul3">
    
       
     </ul>
     
 </div>
</div>

