<p>concat-map works!</p>

<div class="row justify-content-center" >
   
    <div class="col-md-4">
    Array : ["Tech", "Travel" ,"Horror"]
    </div> 
    

</div>

<div class="row my-3">
 <div class="col-md-4">
     <p>Subscribe manyally </p>
     <ul id="ul1"> 
     </ul>
 </div>
 <div class="col-md-4">
     <p>Map + concatAll </p>
     <ul id="ul2">
       
         
         
     </ul>
    
 </div>
 <div class="col-md-4">
    <p> merge map </p>
    <ul id="ul4">
      
        
        
    </ul>
   
</div>
 <div class="col-md-4">
     <p>Concat Map </p>
     <ul id="ul3">
    
     </ul>
     
 </div>
</div>




<div id="notifications">
  <div class="notification-container" id="notification-div">
    <img class="logo" src="../../assets/facebook.png" alt="Facebook Logo">
    <div class="notification-content" >
      <h1>Facebook</h1>
      <p>You have a new notification from John Doe.</p>
    </div>
  </div>
</div>